NVOIP_BASE_URL=https://api.nvoip.com.br/v2
NVOIP_NUMBERSIP=
NVOIP_USER_TOKEN=
NVOIP_OAUTH_BASIC_AUTH=
NVOIP_OAUTH_CLIENT_ID=
NVOIP_OAUTH_CLIENT_SECRET=
NVOIP_NAPIKEY=
NVOIP_ACCESS_TOKEN=
NVOIP_CALLER=
NVOIP_TARGET_NUMBER=11999999999
NVOIP_SMS_MESSAGE=Mensagem de teste Nvoip
NVOIP_OTP_KEY=
NVOIP_OTP_CODE=
NVOIP_WA_TEMPLATE_ID=
NVOIP_WA_DESTINATION=
NVOIP_WA_INSTANCE=
NVOIP_WA_LANGUAGE=pt_BR
NVOIP_WA_BODY_VARIABLES=[]
NVOIP_WA_HEADER_VARIABLES=[]
NVOIP_WA_TO_FLOW=false
